.table {
    display: table;
}

.header {
    display: table-header-group;
    font-weight: bold;
}

.rowGroup {
    display: table-row-group;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    width: 8%;
}

.error {
    color: red;
}
.container{
    width: 90%;
    margin: 0 auto;
}