@import url(fontawesome.css);
a {
    color: #3CF;
    text-decoration: none;
}

a:hover {
    color: #FC3;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    font-size: 13px;
    line-height: 22px;
}


.section-heading {
    text-align: center;
    margin-bottom: 70px;
}

.section-heading h2:before {
    width: 1px;
    height: 100px;
    background-color: rgba(250,250,250,0.1);
    position: absolute;
    top: -102px;
    content: '';
    left: 50%;
    transform: translate(-50%);
}

.section-heading h2 {
    margin-top: 100px;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 20px;
    border: 2px solid rgba(250,250,250,0.1);
}


/* Buttons */

.main-button a {
    background-color: #f5a425;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 12px 20px;
    display: inline-block;
    outline: none;
}

a.menu-link { display: none; }

@media screen and (max-width: 950px) {
    a.menu-link {
        float: right;
        display: block;
        font-size: 36px;
        color: #fff;
        padding-right: 30px;
        padding-top: 15px;
    }
    nav[role="navigation"] {
        clear: both;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .js nav[role="navigation"] {
        overflow: hidden;
        max-height: 0;
    }
    nav[role="navigation"].active {
        max-height: 20em;
        height: 20em;
        overflow-y: scroll;
    }
    nav[role="navigation"] ul {
        top: 0;
        width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
        border-top: 1px solid rgba(250,250,250,0.25);
        background-color: rgba(22,34,57,0.99);
    }
    nav[role="navigation"] li a {
        display: block;
        padding: 15px 0;
        border-bottom: 1px solid rgba(250,250,250,0.25);
        text-align: center;
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.5;
    }
    nav[role="navigation"] li:hover a,
    nav[role="navigation"] li.active a {
        color: #f5a425;
    }

    @media screen and (min-width: 951px) {
        .js nav[role="navigation"] {
            max-height: none;
        }

        nav[role="navigation"] li {
            display: inline-block;
            margin: 0 0.25em;
        }
        nav[role="navigation"] li a {
            border: 0;
        }
    }
}

/* Header */

@media screen and (max-width: 1050px) {
    .main-header .logo {
        padding-left: 30px!important;
    }

    .main-menu {
        padding-right: 30px!important;
    }

    .main-menu li {
        margin-left: 5px!important;
    }
}

.main-header {
    background-color: #107484;
    height: 80px;
    position: fixed;
    z-index: 12;
    width: 100%;
    top: 0;
}

.main-header .logo {
    float: left;
    line-height: 80px;
    padding-left: 60px;
}

.main-header .logo a {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
}
.main-header .logo a em {
    font-style: normal;
    color: #f5a425;
}

.main-menu {
    float: right;
    padding-right: 60px;
}

.main-menu li {
    display: inline-block;
    line-height: 79px;
    margin-left: 15px;
    position: relative;
}

.main-menu li:first-child {
    margin-left: 0;
}

.main-menu li a {
    padding: 10px 15px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.5s;
}

.main-menu li.has-submenu a:after {
    content: '\f107';
    font-family: "FontAwesome", sans-serif;
    margin-left: 5px;
}

.main-menu li.has-submenu ul li a:after {
    display: none;
}

.main-menu li .sub-menu {
    position: absolute;
    width: 160px;
    background-color: 	#148c9f;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.main-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

.main-menu li .sub-menu li {
    display: block;
    line-height: 20px;
    margin-left: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #121b2f;
}

.main-menu li .sub-menu li:first-child {
    padding-top: 10px;
}

.main-menu li .sub-menu li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.main-menu li .sub-menu li a {
    font-size: 12px;
    font-weight: 500;
    padding: 0 15px;
    letter-spacing: 1px;
    border: none;
    transition: all 0.5s;
    text-align: center;
}

.main-menu li .sub-menu li a:hover {
    color: #f5a425;
    border: none;
    text-align: center;
}
.sub-menu li a{
    font-size: 12px;
    font-weight: 500;
    margin-left: auto;
    margin-block: auto;
    padding: 0 15px;
    margin-right: auto;
    position: fixed;
    border: none;
    transition: all 0.5s;
    text-align: center;
}
.main-nav li:hover a,
.main-nav li.active a {
    color: #f5a425;
}

@media (max-width: 950px) {
    .main-nav li:hover a,
    .main-nav li.active a {
        border: 2px solid transparent;
        border-bottom: 1px solid rgba(250,250,250,0.25);
    }
}


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
* {
    margin: 0;
    box-sizing: border-box;
}
html {
    --card-color: #cacaca;
    --text-color: #e1e1e1;
}
body {
    font-family: 'Roboto', sans-serif;
}
.tips {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #f1f1f1;
    line-height: 30px;
    font-size: 14px;
    padding: 2px 15px;
}
.container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 680px;
}
.container .col1 {
    perspective: 1000px;
    transform-style: preserve-3d;
}
.container .col1 .card {
    position: relative;
    width: 420px;
    height: 250px;
    margin-bottom: 85px;
    margin-right: 10px;
    border-radius: 17px;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
    transition: all 1s;
    transform-style: preserve-3d;
}
.container .col1 .card .front {
    position: absolute;
    background: var(--card-color);
    border-radius: 17px;
    padding: 50px;
    width: 100%;
    height: 100%;
    transform: translateZ(1px);
    -webkit-transform: translateZ(1px);
    transition: background 0.3s;
    z-index: 50;
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.container .col1 .card .front .type {
    position: absolute;
    width: 75px;
    height: 45px;
    top: 20px;
    right: 20px;
}
.container .col1 .card .front .type img {
    width: 100%;
    float: right;
}
.container .col1 .card .front .card_number {
    position: absolute;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -1px;
    top: 110px;
    color: var(--text-color);
    word-spacing: 3px;
    transition: color 0.5s;
}
.container .col1 .card .front .date {
    position: absolute;
    bottom: 40px;
    right: 55px;
    width: 90px;
    height: 35px;
    color: var(--text-color);
    transition: color 0.5s;
}
.container .col1 .card .front .date .date_value {
    font-size: 12px;
    position: absolute;
    margin-left: 22px;
    margin-top: 12px;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.5s;
}
.container .col1 .card .front .date:after {
    content: 'MONTH / YEAR';
    position: absolute;
    display: block;
    font-size: 7px;
    margin-left: 20px;
}
.container .col1 .card .front .date:before {
    content: 'valid \a thru';
    position: absolute;
    display: block;
    font-size: 8px;
    white-space: pre;
    margin-top: 8px;
}
.container .col1 .card .front .fullname {
    position: absolute;
    font-size: 20px;
    bottom: 40px;
    color: var(--text-color);
    transition: color 0.5s;
}
.container .col1 .card .back {
    position: absolute;
    width: 100%;
    border-radius: 17px;
    height: 100%;
    background: var(--card-color);
    transform: rotateY(180deg);
}
.container .col1 .card .back .magnetic {
    position: absolute;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 25px;
}
.container .col1 .card .back .bar {
    position: absolute;
    width: 80%;
    height: 37px;
    background: rgba(255, 255, 255, 0.7);
    left: 10px;
    margin-top: 100px;
}
.container .col1 .card .back .seccode {
    font-size: 13px;
    color: var(--text-color);
    font-weight: 500;
    position: absolute;
    top: 100px;
    right: 40px;
}
.container .col1 .card .back .chip {
    bottom: 45px;
    left: 10px;
}
.container .col1 .card .back .disclaimer {
    position: absolute;
    width: 65%;
    left: 80px;
    color: #f1f1f1;
    font-size: 8px;
    bottom: 55px;
}
.container .col2 input .col2 select {
    display: block;
    width: 260px;
    height: 30px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 7px;
    font-size: 17px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.05);
    border: none;
    transition: background 0.5s;
}
.container .col2 input:focus {
    outline-width: 0;
    background: rgba(31, 134, 252, 0.15);
    transition: background 0.5s;
}
.container .col2 label {
    padding-left: 8px;
    font-size: 15px;
    color: #444;
}
.container .col2 .ccv {
    width: 40%;
}
.container .col2 .buy {
    width: 260px;
    height: 50px;
    position: relative;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    border: none;
    background: #42c2df;
    color: white;
    font-size: 20px;
    transition: background 0.4s;
    cursor: pointer;
}
.container .col2 .buy i {
    font-size: 20px;
}
.container .col2 .buy:hover {
    background: #3594a9;
    transition: background 0.4s;
}
.chip {
    position: absolute;
    width: 55px;
    height: 40px;
    background: #bbb;
    border-radius: 7px;
}
.chip:after {
    content: '';
    display: block;
    width: 35px;
    height: 25px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ddd;
}


/* Footer */

footer {
    background-color: #107484;
    text-align: center;
}

footer p {
    margin-bottom: 0;
    padding: 25px 0;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

footer p a,
footer p a:hover {
    color: #f5a425;
}

@media screen and (max-width: 992px) {
    .features { background-color: #0c1228; }
    .features-content { position: relative; }
    .features-post { border-left: 0 }
}

@media screen and (max-width: 950px) {
    .main-menu { padding-right: 0!important; }
    .main-header .logo {
        line-height: 73px;
    }
    .main-menu li {
        display: block;
        line-height: 1;
        margin-left: 0 !important;
    }

    .main-menu li .sub-menu {
        opacity: 1;
        visibility: visible;
        position: static;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .main-menu li .sub-menu li:last-child {
        border-bottom: 1px solid rgba(250,250,250,0.25);
    }
}

@media screen and (max-width: 950px) and (max-height: 400px) {
    nav[role="navigation"].active {
        max-height: calc(80px + 100vh);
        overflow-y: auto;
    }
}

@media screen and (max-width: 767px) {
    footer p {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0px;
    }
}