<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">


    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="/assets/css/owl.css">
    <link rel="stylesheet" href="/assets/css/lightbox.css">
</head>
<body>

<div class="main-header clearfix" role="header" th:fragment="header">
    <div class="logo">
        <a th:href="@{/home}"><em>W</em>ally</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
<!--            <li><a th:href="@{/home}">Home</a></li>-->
            <li th:if="${isAuthenticated}"><a th:href="@{/wallets}">My Wallets</a></li>
            <li th:if="${isAuthorized}"><a th:href="@{/wallets/all}">All Wallets</a></li>
            <li th:if="${isAuthenticated}"><a th:href="@{/cards}">Cards</a></li>
            <li th:if="${isAuthorized}"><a th:href="@{/transactions}">Transactions</a></li>
            <li th:unless="${isAuthenticated}"><a th:href="@{/auth/register}">Register</a></li>
            <li th:if="${isAuthorized}"><a th:href="@{/users}">Users</a></li>
            <li><a th:if="${isAuthenticated}">
                <span style="color: white" th:text="Features">Features</span>
                <ul class="sub-menu">
                    <li><a th:href="@{/currencies}">Currencies</a></li>
                    <li><a th:href="@{/overdrafts}">Overdrafts</a></li>
                    <li><a th:href="@{/savings}">Savings</a></li>
                    <li><a th:href="@{/categories}">Categories</a></li>
                </ul>
            </a>
            </li>
            <li th:unless="${isAuthenticated}"><a th:href="@{/auth/login}">Login</a></li>
            <li><a th:if="${isAuthenticated}">
                <span th:text="${session.currentUser}">Username</span>
                <img th:if="${session.photo != null}"
                     th:src="@{'/user-photos/' + ${session.currentUserId} + '/' + ${session.photo}}" height="40"
                     width="30">
                <ul class="sub-menu">
                    <li><a th:href="@{'/users/' + ${session.currentUserId} + '/update'}">Update profile</a></li>
                    <li><a th:href="@{'/users/' + ${session.currentUserId} + '/update/pass'}">Change Password</a></li>
                    <li th:if="${isAuthenticated}"><a th:href="@{/auth/logout}">Logout</a></li>
                </ul>
            </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>