html { height: 100% }
::-moz-selection { background: #3db0a6; color: #fff; text-shadow: none; }
::selection { background: #3db0a6; color: #fff; text-shadow: none; }
body { background-image:  url('https://images.unsplash.com/photo-1620714223084-8fcacc6dfd8d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.login {
    background-color: #148c9f;
    border: 1px solid #42464b;
    border-radius: 6px;
    height:auto;
    margin: 140px auto 15px 80px;
    width: 298px;
    float: left;
}

input[type="password"], input[type="text"]{
    background: url('https://i.minus.com/ibhqW9Buanohx2.png') center left no-repeat, linear-gradient(top, #d6d7d7, #dee0e0);
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 30px;
    margin: 10px 0 0 29px;
    padding-left: 37px;
    transition: box-shadow 0.3s;
    width: 240px;
}
input[type="password"]:focus, input[type="text"]:focus {
    box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
    outline: 0;
}



.show-password {
    display: block;
    height: 16px;
    margin: 10px 0 0 28px;
    width: 87px;
}

input[type="submit"] {
    width:240px;
    height:35px;
    display:block;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    text-shadow:1px 1px 0px #37a69b;
    padding-top:6px;
    margin: 10px 0 0 29px;
    position:relative;
    cursor:pointer;
    border: none;
    background-color: #169cb2;
    background-image: linear-gradient(top,#3db0a6,#3111);
    border-radius: 5px 5px 5px 5px;
    box-shadow: inset 0 1px 0 #2ab7ec, 0 5px 0 0 #497a78, 0 10px 5px #999;
}

h2,h4,p
{
    color: white;
    text-align: center;
    font-family: 'Lobster', Georgia, Times, serif;
}



input[type="submit"]:active {
    top:3px;
    box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #31524d, 0 5px 3px #999;
}