<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Access Denied')"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<h2 style="text-align: center" th:text="#{error.access-denied}">Access Denied</h2>
<h3 class="error" th:text="${error}">Error placeholder</h3>
<img style=" display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;" src="https://memegenerator.net/img/instances/81831973.jpg" alt="this slowpoke moves" width="250"/>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>

</body>
</html>