<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Add money')"></head>
<body>
<!--header-->
<div th:replace="fragments/header :: header"></div>

<!--<div class="container">-->
<!--    <div class="header">-->
<!--        <div class="cell" th:text="#{wallet.label.walletId}">ID</div>-->
<!--        <div class="cell" th:text="#{wallet.label.balance}">Balance</div>-->
<!--        <div class="cell" th:text="#{wallet.label.currency}">Currency</div>-->
<!--    </div>-->
<!--    <div class="header">-->
<!--        <div class="cell" th:text="${userWallet.walletId}">ID</div>-->
<!--        <div class="cell" th:text="${userWallet.balance}">Balance</div>-->
<!--        <div class="cell" th:text="${userWallet.currency.getCurrencyName()}">Currency</div>-->
<!--    </div>-->
<!--</div>-->

<div class="container">
    <table class="mb-0 table table-striped">
        <thead>
        <tr>
            <th th:text="#{wallet.label.walletId}">WalletID</th>
            <th th:text="#{wallet.label.balance}">Balance</th>
            <th th:text="#{wallet.label.currency}">Currency</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${userWallet.walletId}">ID</td>
            <td th:text="${userWallet.balance}">Balance</td>
            <td th:text="${userWallet.currency.getCurrencyName()}">Currency</td>
        </tr>
        </tbody>
    </table>

</div>
<hr class="trans--grow hr1">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    jQuery(document).ready(function ($) {
        setTimeout(function () {
            $('.trans--grow').addClass('grow');
        }, 275);
    });

</script>
<form class="container" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" method="post">
    <div class="login">
        <label style="font-size: 20px" th:text="#{wallet.label.card}">User Card</label>

        <select th:field="*{cardDto.cardNumber}">
            <option th:each="card: ${senderCards}"
                    th:value="${card.getCardNumber()}"
                    th:text="${card.getCardNumber()}">
                User Cards
            </option>
        </select>
        <label class="error" th:errors="*{cardDto.cardNumber}">Card error placeholder</label>
        <br/><br/>

        <label style="font-size: 20px" th:text="#{card.label.cvv}">CVV</label>
        <br/>
        <input type="text" th:field="*{cardDto.cvv}"/>
        <label class="error" th:errors="*{cardDto.cvv}">CVV error placeholder</label>
        <br/><br/>

        <label style="font-size: 20px" th:text="#{wallet.label.transfer-value}">Transfer Amount</label>
        <br/>
        <input type="text" th:field="*{transactionValue.value}"/>
        <label class="error" th:errors="*{transactionValue.value}">Transfer value error placeholder</label>
        <br/><br/>

        <!--confirmation window-->
        <input style="background: linear-gradient(90deg, rgba(35,210,255,1) 6%, rgba(243,255,24,1) 100%) ; border: 3px;"
               type="submit" value="Top up"/>
    </div>
</form>

<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<div th:replace="fragments/script :: script"></div>
</body>
</html>
