<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Card')"></head>
<body>
<!--header-->
<div th:replace="fragments/header :: header"></div>

<div class="container">
  <table class="mb-0 table table-striped">
    <thead>
    <tr>
      <th th:text="#{card.label.cardNumber}">Card Number</th>
      <th th:text="#{card.label.cardholder}">Card Holder</th>
      <th th:text="#{card.label.cardType}">Card type</th>
      <th th:text="#{card.label.currency}">Currency</th>
      <th th:text="#{card.label.cvv}">CVV</th>
        <th th:text="#{card.label.expiredDate}">Expired Date</th>
      </tr>
      </thead>
      <tbody>
        <td th:text="${card.cardNumber}">1234567899876543</td>
        <td th:text="${card.cardholder}">Steven Johnson</td>
        <td th:text="${card.cardType.type}">debit</td>
        <td th:text="${card.currency.currencyName}">Bulgarian Lev</td>
        <td th:text="${card.cvv}">111</td>
        <td th:text="${card.expireDate}">2022-11</td>
      </tbody>
    </table>
  </div>

<hr class="trans--grow hr1">
<li class="col-md-6" style="list-style-type: none; color: #1f7f5c; text-align: center; float: left"><h5><a href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}" th:text="#{navigation.update}">Update</a></h5></li>
<li class="col-md-6" style="list-style-type: none; color: #1f7f5c; text-align: center; float: right"><h5><a href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}" th:text="#{navigation.delete}">Delete</a></h5></li>
<br><br>
<hr class="trans--grow hr2">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
<script>
  jQuery(document).ready(function($){
    setTimeout(function(){
      $('.trans--grow').addClass('grow');
    }, 275);
  });

</script>
<br><br><br><br><br><br><br>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>

</body>
</html>