<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='User Cards')"></head>
<body>
<!--header-->
<div th:replace="fragments/header :: header"></div>

<div th:if="${cards.isEmpty()}">
    <h2 style="text-align: center; color: #00bc95" th:text="#{cards.name.empty}">No Cards</h2>
</div>
<div th:unless="${cards.isEmpty()}">
    <h2 style="text-align: center; color: #00bc95" th:text="#{cards.name}">All Cards</h2>

    <div class="container">
        <table class="mb-0 table table-striped">
            <thead>
            <tr>
                <th th:text="#{card.label.id}">Id</th>
                <th th:text="#{card.label.cardNumber}">Card Number</th>
                <th th:text="#{card.label.cardholder}">Card Holder</th>
                <th th:text="#{card.label.cardType}">Card type</th>
                <th th:text="#{card.label.currency}">Currency</th>
                <th th:text="#{card.label.cvv}">CVV</th>
                <th th:text="#{card.label.expiredDate}">Expire Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="card : ${cards}">
                <td>
                    <a href="#" th:href="@{/cards/{id}(id=${card.getId()})}" th:text="${card.getId}">Card</a>
                </td>
                <td th:text="${card.cardNumber}">1234567899876543</td>
                <td th:text="${card.cardholder}">Steven Johnson</td>
                <td th:text="${card.cardType.type}">debit</td>
                <td th:text="${card.currency.currencyName}">Bulgarian Lev</td>
                <td th:text="${card.cvv}">111</td>
                <td th:text="${#dates.format(card.expireDate, 'dd-MMM-yyyy')}">2022-11</td>
            </tr>
            </tbody>
        </table>

        <hr class="trans--grow hr1">
        <li style="list-style-type: none; color: #1f7f5c; text-align: center ">
            <h5><a href="#" th:href="@{/cards/new}"
                   th:text="#{navigation.add-card}">Add a new card</a>
            </h5>
        </li>
        <hr class="trans--grow hr2">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>
            jQuery(document).ready(function ($) {
                setTimeout(function () {
                    $('.trans--grow').addClass('grow');
                }, 275);
            });

        </script>

    </div>
</div>
<br><br><br><br><br><br><br>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>