<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Update Card')"></head>
<body>
<!--header-->
<div th:replace="fragments/header :: header"></div>

<div class="container row">
    <div class="col-md-6">

        <h2 style="text-align: center; color: #00bc95">Update card</h2>
        <form style="margin-top: 20px" class="container" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
              method="post">
            <div class="login">
                <input style="font-size: 18px"
                       th:field="${card.cardTypeId}"
                       th:type="radio" checked="checked"
                       th:each="type : ${types}"
                       th:value="${type.getId()}"
                       th:text="${type.getType()}">
                <label style="font-size: 18px" class="error" th:errors="*{card.cardTypeId}">CardTypeId error
                    placeholder</label>
                <br>
                <label style="font-size: 18px" th:text="#{card.label.currency}">Wallet Currency</label>
                <select class="cvc" th:field="*{card.currencyId}">
                    <option selected value="0">All currencies</option>
                    <option th:each="currency: ${currencies}"
                            th:value="${currency.getId()}"
                            th:text="${currency.getCurrencyName()}">
                        Card Currency
                    </option>
                </select>
                <label class="error" th:errors="*{card.currencyId}">Currency error placeholder</label>
                <br/>

                <label style="font-size: 18px">Card Number</label>
                <input class="number" type="text" th:field="${card.cardNumber}"/>
                <label class="error" th:errors="*{card.cardNumber}">CardNumber error placeholder</label>

                <label style="font-size: 18px">Cardholder name</label>
                <input class="inputname" type="text" th:field="${card.cardHolder}" placeholder=""/>
                <label class="error" th:errors="*{card.cardHolder}">CardHolder error placeholder</label>

                <label style="font-size: 18px">Expiry date</label>
                <input onfocus="this.type='month';" th:field="${card.expireDate}" class="expire" type="text"
                       placeholder="MM / YYYY"/>
                <label class="error" th:errors="*{card.expireDate}">Expired date error placeholder</label>

                <label style="font-size: 18px">Security Number</label>
                <input class="ccv" type="text" th:field="${card.cvv}" placeholder="CVC" maxlength="3"/>
                <label class="error" th:errors="*{card.expireDate}">Expired date error placeholder</label>

                <br>
                <input style="background: linear-gradient(90deg, rgba(35,210,255,1) 6%, rgba(243,255,24,1) 100%) ; border: 3px;"
                       type="submit" value="Save"/>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <img src="/assets/images/multipleWallets.jfif" alt="">
    </div>

    <li style="list-style-type: none"><a href="#" th:href="@{/cards}" th:text="#{navigation.all-cards}">Browse all
        cards</a></li>
</div>
<br><br><br><br><br><br>

<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<div th:replace="fragments/script :: script"></div>

</body>
</html>
