<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Card</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/cards.css">
    <link rel="stylesheet" href="/assets/css/owl.css">
    <link rel="stylesheet" href="/assets/css/lightbox.css">

</head>
<body>


<!--header-->
<div th:replace="fragments/header :: header"></div>

<form th:fragment="card-form" action="#" th:action="@{/cards/new}" method="post" enctype="multipart/form-data">

    <br><br><br><br>

    <li style="color: orange; font-size: 20px; list-style-type: none;text-align: center" th:if="userCards">You have to create a card first</li>
    <div class="container">
        <div class="col1">
            <div class="card">
                <div class="front">
                    <div class="type">
                        <img class="bankid"/>
                    </div>
                    <span class="type"></span>
                    <span class="currency"></span>
                    <span class="chip"></span>
                    <span class="card_number">&#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; </span>
                    <div class="date"><span class="date_value">MM / YYYY</span></div>
                    <span class="fullname">FULL NAME</span>
                </div>
                <div class="back">
                    <div class="magnetic"></div>
                    <div class="bar"></div>
                    <span class="seccode">&#x25CF;&#x25CF;&#x25CF;</span>
                    <span class="chip"></span><span class="disclaimer">This card is property of Random Bank of Random corporation. <br> If found please return to Random Bank of Random corporation - 21968 Paris, Verdi Street, 34 </span>
                </div>
            </div>
        </div>

        <div class="col2 login">
            <input th:field="${card.cardTypeId}"
                   th:type="radio" checked="checked"
                   th:each="type : ${types}"
                   th:value="${type.getId()}"
                   th:text="${type.getType()}">
            <label class="error" style="color: red;" th:errors="*{card.cardTypeId}">CardTypeId error placeholder</label>
            <br>
            <label th:text="#{card.label.currency}">Wallet Currency</label>
            <br/>
            <select class="cvc" th:field="*{card.currencyId}">
                <option selected value="0">All currencies</option>
                <option th:each="currency: ${currencies}"
                        th:value="${currency.getId()}"
                        th:text="${currency.getCurrencyName()}">
                    Card Currency
                </option>
            </select>
            <label class="error" style="color: red;" th:errors="*{card.currencyId}">Currency error placeholder</label>
            <br/>

            <label>Card Number</label>
            <input class="number" type="text" th:field="${card.cardNumber}" maxlength="19"
                   onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
            <label class="error" th:errors="*{card.cardNumber}">CardNumber error placeholder</label>

            <label>Cardholder name</label>
            <input class="inputname" type="text" th:field="${card.cardHolder}" placeholder=""/>
            <label class="error" style="color: red;" th:errors="*{card.cardHolder}">CardHolder error placeholder</label>

            <label>Expiry date</label>
            <input  onfocus="this.type='month';" th:field="${card.expireDate}" class="expire" type="text" placeholder="MM / YYYY"/>
            <label class="error" style="color: red;" th:errors="*{card.expireDate}">Expired date error placeholder</label>
            <label>Security Number</label>
            <input class="ccv" type="text" th:field="${card.cvv}" placeholder="CVC" maxlength="3"
                   onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
            <label class="error" th:errors="*{card.expireDate}">Expired date error placeholder</label>

            <input type="submit" value="Save"/>
        </div>
    </div>
</form>

<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>

<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/test.js"></script>
<script src="/assets/js/isotope.min.js"></script>
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/lightbox.js"></script>
<script src="/assets/js/tabs.js"></script>
<script src="/assets/js/video.js"></script>
<script src="/assets/js/slick-slider.js"></script>
<script src="/assets/js/custom.js"></script></body>
</html>


<!--<form th:fragment="card-form" action="#" th:action="@{/cards/new}" method="post" enctype="multipart/form-data">-->
<!--    <div class="login">-->
<!--        <h4> Card Details </h4>-->

<!--        <input th:field="${card.cardTypeId}"-->
<!--               th:type="radio" checked="checked"-->
<!--               th:each="type : ${types}"-->
<!--               th:value="${type.getId()}"-->
<!--               th:text="${type.getType()}">-->
<!--        <label class="error" th:errors="*{card.cardTypeId}">CardTypeId error placeholder</label>-->

<!--        <br/>-->


<!--        <input type="text" th:field="${card.cardNumber}" placeholder="Card Number"/>-->
<!--        <label class="error" th:errors="*{card.cardNumber}">CardNumber error placeholder</label>-->

<!--        <br/>-->
<!--        <label  th:text="#{card.label.currency}">Wallet Currency</label>-->
<!--        <br/>-->
<!--        <select class="cvc" th:field="*{card.currencyId}">-->
<!--            <option selected value="0">All currencies</option>-->
<!--            <option th:each="currency: ${currencies}"-->
<!--                    th:value="${currency.getId()}"-->
<!--                    th:text="${currency.getCurrencyName()}">-->
<!--                Card Currency-->
<!--            </option>-->
<!--        </select>-->
<!--        <label class="error" th:errors="*{card.currencyId}">Currency error placeholder</label>-->
<!--        <br/>-->

<!--        <label th:text="#{card.label.cvv}">CVV</label>-->
<!--        <input class="cvc" onfocus="this.type='number';" th:field="${card.cvv}" placeholder="Card CVC"/>-->
<!--        <label class="error" th:errors="*{card.cvv}">CVV error placeholder</label>-->

<!--        <br/>-->

<!--        <input class="cvc" onfocus="this.type='month';" th:field="${card.expireDate}" placeholder="Expire Date"/>-->
<!--        <label class="error" th:errors="*{card.expireDate}">Expired date error placeholder</label>-->

<!--        <br/>-->
<!--        <input type="submit" value="Save"/>-->

<!--    </div>-->
<!--</form>-->