<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Categories')"></head>
<body>
<!--header-->
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th th:text="#{category.label.id}">ID</th>
            <th th:text="#{category.label.name}">Name</th>

        </tr>
        </thead>

        <tbody>

        <tr th:each="category : ${userCategories}">

            <td th:text="${category.id}">ID</td>
            <td th:text="${category.name}">Name</td>
            <td>
                <a th:href="@{__${#httpServletRequest.requestURI}__/{id}/update(id=${category.getId()})}"
                   th:text="#{categories.modify}">Update</a>
            </td>
            <td>
                <a th:href="@{__${#httpServletRequest.requestURI}__/{id}/delete(id=${category.getId()})}" th:text="#{navigation.delete}">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<h3 style="text-align: center"><a href="#" th:href="@{/categories/new}" th:text="#{categories.new}">Create New category</a></h3>

<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<div th:replace="fragments/script :: script"></div>

</body>
</html>

