<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Currencies')"></head>
<body>
<!--header-->
<div th:replace="fragments/header :: header"></div>

<div class="cell">
    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/new}"
       th:text="#{currency.label.new}">
        Create new </a>
</div>

<div class="container">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th class="cell" th:text="#{currency.label.id}">ID</th>
            <th class="cell" th:text="#{currency.label.name}">Name</th>
            <th class="cell" th:text="#{currency.label.iso}">ISO</th>
            <th class="cell" th:text="#{currency.label.symbol}">Symbol</th>
            <th class="cell" th:text="#{currency.label.exchange-rate}">Exchange Rate</th>
            <th class="cell" th:text="#{currency.label.update}">Update</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="currency, iStat : ${currencies}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">

            <td th:text="${currency.getId()}">ID</td>
            <td th:text="${currency.getCurrencyName()}">Name</td>
            <td th:text="${currency.getIso()}">ISO</td>
            <td th:text="${currency.getSymbol()}">Symbol</td>
            <td th:text="${currency.getExchangeRate()}">Rate</td>
            <td th:if="${isAuthorized}">
                <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/{id}/update(id=${currency.getId()})}"
                   th:text="#{currency.label.update}">
                    Update </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<h3 th:if="${isAuthorized}" style="text-align: center">
    <a href="#" th:href="@{/currencies/new}" th:text="#{navigation.add-currency}">Create New currency</a>
</h3>
<br><br><br><br><br><br>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>

