<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/login.css" th:href="@{/login.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>

<form action="#" th:action="@{/auth/login}" th:object="${login}" method="post" enctype="multipart/form-data">
    <div class="login">
        <h2>Log in</h2>

        <input type="text" th:field="*{username}" placeholder="username"/>
        <label class="error" th:errors="*{username}">Username error placeholder</label>
        <br/> <br/>


        <input type="password" th:field="*{password}" placeholder="password"/>
        <label class="error" th:errors="*{password}">Password error placeholder</label>
        <br/> <br/>


        <input type="submit" value="Log in"/>
        <br/><br/>

        <div>
            <p>You have no account in Wally? <br> <a href="#" th:href="@{/auth/register}"> Register!</a></p>
        </div>
    </div>
</form>

<div th:replace="fragments/script :: script"></div>
</body>
</html>