<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head (title='Not Found')"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<H2 th:text="#{error.not-found}"> Not Found </H2>
<h3 class="error" th:text="${error}">Error placeholder</h3>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>

</body>
</html>