<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Overdraft Features')"></head>
<body>
<!--header-->
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div th:if="${overdraftRecords.isEmpty()}">
        <h2 th:text="#{overdraft.label.empty}">You don't have any overdrafts yet.</h2>
    </div>
    <div th:unless="${overdraftRecords.isEmpty()}">
        <h2 style="text-align: center;color: #00bc95" th:text="#{overdraft.label.exists}">Your current Overdraft
            records.</h2>
        <br>
        <table class="mb-0 table table-striped">
            <thead>
            <tr>
                <th th:text="#{overdraft.label.id}">Deposit ID</th>
                <th th:text="#{overdraft.label.name}">Name</th>
                <th th:text="#{wallet.label.walletId}">Wallet ID</th>
                <th th:text="#{wallet.label.balance}">Balance</th>
                <th th:text="#{overdraft.label.apr}">APR</th>
                <th th:text="#{overdraft.label.months-until-block}">Months left</th>
                <!--                <th th:text="#{overdraft.label.estimated-interest-payment}">Estimated interest payment</th>-->
                <th th:text="#{overdraft.label.start-date}">Date Started</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="record : ${overdraftRecords}">
                <td th:text="${record.getId()}"> Deposit Id</td>
                <td th:text="${record.getOverdraftFeature().getName()}">Name</td>
                <td th:text="${record.getWallet().getWalletId()}">ID</td>
                <td th:text="${record.getWallet().getBalance()}">Balance</td>
                <td th:text="${record.getOverdraftFeature().getApr()}">APR</td>
                <td th:text="(${record.getOverdraftFeature().getMaxMonthsWithoutPayment()} - ${record.unpaidMonths}) < 0 ?
                0 : ${record.getOverdraftFeature().getMaxMonthsWithoutPayment()} - ${record.unpaidMonths}">Months left
                </td>
                <!--                <td th:text="${record.getInterestPayment} ">Estimated interest payment</td>-->
                <td th:text="${#dates.format(record.dateStarted, 'dd-MMM-yyyy')}">Start Date</td>
                <td>
                    <a th:href="@{/wallets/{id}/add-money(id=${record.getWallet().getWalletId()})}"
                       th:text="#{navigation.payback-overdraft} + '*'"> Payback</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <a style="font-size: 12px"> * Please note that overdrafts records are processed on the same date** each month from
        the date of commencing.</a><br>
    <a style="font-size: 12px"> Your overdraft will be considered paid when wallet balance is positive on the date of
        the record processing.</a><br>
    <a style="font-size: 12px"> ** The date is adjusted based on the length of the months.</a>
    <br>
    <hr class="trans--grow hr1">
    <li class="col-md-11" style="list-style-type: none; color: #1f7f5c; text-align: center; float: left"><h5><a
            href="#" th:href="@{/wallets}" th:text="#{navigation.payback-overdraft-all}">Payback All Overdrafts</a></h5>
    </li>
    <br>
    <hr class="trans--grow hr2">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            setTimeout(function () {
                $('.trans--grow').addClass('grow');
            }, 275);
        });

    </script>
    <br>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th th:text="#{overdraft.label.id}">ID</th>
            <th th:text="#{overdraft.label.name}">Name</th>
            <th th:text="#{overdraft.label.apr}">APR</th>
            <th th:text="#{overdraft.label.max-mth}">Max months</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="overdraft, iStat : ${overdraftFeatures}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">

            <td th:text="${overdraft.getId()}">ID</td>
            <td th:text="${overdraft.getName()}">Name</td>
            <td th:text="${overdraft.getApr() + '%'}">APR</td>
            <td th:text="${overdraft.getMaxMonthsWithoutPayment()}">Max months</td>
            <td th:if="${isAuthorized}">
                <a th:href="@{__${#httpServletRequest.requestURI}__/{id}/update(id=${overdraft.getId()})}"
                   th:text="#{overdraft.label.update}">
                    Update</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<h3 th:if="${isAuthorized}" style="text-align: center">
    <a href="#" th:href="@{/overdrafts/new}"
       th:text="#{navigation.add-overdraft}">Create New Overdraft Plan</a>
</h3>

<br><br><br><br><br>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>

</body>
</html>

