<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head (title='Success')"></head>
<body>

<div class="container text-center">
  <h3>You have signed up successfully!</h3>
  <p>Please check your email to verify your account.</p>
  <h4><a th:href="@{/auth/login}">Click here to Login</a></h4>
</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>