<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="../static/registration.css" th:href="@{/registration.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="registration.css">
</head>
<body>

<form action="#" th:action="@{/auth/register}" method="post" enctype="multipart/form-data">
    <div class="login">
        <h2>Sign in</h2>

        <input type="text" th:field="${register.username}" placeholder="username"/>
        <label class="error" th:errors="*{register.username}">Username error placeholder</label>
        <br/>

        <input type="password" th:field="${register.password}" placeholder="password"/>
        <label class="error" th:errors="*{register.password}">Password error placeholder</label>
        <br/>


        <input type="password" th:field="${register.passwordConfirm}" placeholder="confirm password"/>
        <label class="error" th:errors="*{register.passwordConfirm}">Password confirm error placeholder</label>
        <br/>

        <input type="text" th:field="${register.email}" placeholder="email"/>
        <label class="error" th:errors="*{register.email}">Email error placeholder</label>
        <br/>

        <input type="text" th:field="${register.phone}" placeholder="phone"/>
        <label class="error" th:errors="*{register.phone}">Phone error placeholder</label>
        <br/>
        <br/>

        <input type="submit" value="Register"/>

        <div>
            <p>You already have account in Wally? <br> <a href="#" th:href="@{/auth/login}"> Log in!</a></p>
        </div>
    </div>

</form>
<div th:replace="fragments/script :: script"></div>

</body>
</html>