<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='New Savings Plan')"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="container row">
        <div class="col-md-6">
            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" method="post"
                  enctype="multipart/form-data">
                <div class="login">
                    <h4 th:text="${savingsFeatureDto.name} ? #{savings.label.update-plan} : #{savings.label.new}">
                        Savings Plan </h4>

                    <input type="text" th:field="${savingsFeatureDto.name}" placeholder="Savings name"/><br>
                    <label class="error" th:errors="*{savingsFeatureDto.name}">Savings name error placeholder</label>
                    <br>

                    <input type="text" th:field="${savingsFeatureDto.aer}" placeholder="Savings APR"/>
                    <label class="error" th:errors="*{savingsFeatureDto.aer}">Savings APR error placeholder</label>
                    <br>

                    <input type="text" th:field="${savingsFeatureDto.durationMonths}" placeholder="Savings max months"/>
                    <label class="error" th:errors="*{savingsFeatureDto.durationMonths}">Savings max months error
                        placeholder</label>
                    <br>
                    <br/>
                    <input type="submit" value="Save"/>

                </div>
            </form>
        </div>
        <div class="col-md-6">
            <img style="width: 500px" src="/assets/images/wally3.jfif" alt="">
        </div>
    </div>
</div>
<br>
<div style="bottom: 0; position: fixed; width: 100%;">
    <div th:replace="fragments/footer :: footer"></div>
</div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>