<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='New Deposit')"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="cell">
    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/new}"
       th:text="#{savings.label.new}">
        Create new </a>
</div>
<div class="container">
    <div class="col-md-12">
        <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" method="post"
              enctype="multipart/form-data">

            <h4 th:text="#{savings.label.update-deposit}"> Update Savings Deposit </h4>

            <table class=" mb-0 table table-striped">
                <thead>
                <tr>
                    <th th:text="#{savings.label.id}">Deposit ID</th>
                    <th th:text="#{savings.label.name}">Name</th>
                    <th th:text="#{savings.label.principal}">Principal</th>
                    <th th:text="#{savings.label.aer}">Aer</th>
                    <th th:text="#{savings.label.duration}">Duration (months)</th>
                    <th th:text="#{savings.label.start-date}">Start Date</th>
                    <th th:text="#{savings.label.end-date}">End Date</th>
                    <th th:text="#{savings.label.currency}">Currency</th>
                    <th th:text="#{savings.label.new-wallet-id}">New Wallet ID</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="record : ${savingsRecords}">
                    <td th:text="${record.getId()}">ID</td>
                    <td th:text="${record.savingsFeature.getName()}">Name</td>
                    <td th:text="${record.baseAmount}">Principal</td>
                    <td th:text="${record.getAer()}">Aer</td>
                    <td th:text="${record.getDurationMonths()}">Duration</td>
                    <td th:text="${#dates.format(record.startDate, 'dd-MMM-yyyy')} ">Start Date</td>
                    <td th:text="${#dates.format(record.endDate, 'dd-MMM-yyyy')}">End Date</td>
                    <td th:text="${record.getCurrency().getCurrencyName()} +' ('+ ${record.getCurrency().getIso()} +')'">
                        Currency
                    </td>
                    <td>
                        <select th:field="*{newWalletId.value}">
                            <option th:each="wallet: ${userWallets}"
                                    th:value="${wallet.getWalletId()}"
                                    th:text="${wallet.getWalletId()}">
                                Wallet from
                            </option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <input type="submit" value="Save Changes"/>
        </form>
    </div>
    <br><br>
    <div class="col-md-12">
        <img style="width: 500px" src="/assets/images/wally3.jfif" alt="">
    </div>
</div>
<div style="bottom: 0; position: fixed; width: 100%;">
    <div th:replace="fragments/footer :: footer"></div>
</div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>