<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='New Deposit')"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="cell">
    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/new}"
       th:text="#{savings.label.new}">
        Create new </a>
</div>
<div class="container">
    <div class="container row">
        <div class="col-md-6">
            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" method="post"
                  enctype="multipart/form-data">
                <div class="login" th:if="${savingsRecordsDto.baseAmount} == 0">
                    <h4 th:text="#{savings.label.new-deposit}"> Start New Savings Deposit </h4>

                    <select th:field="*{savingsRecordsDto.walletId}">
                        <option th:each="wallet: ${userWallets}"
                                th:value="${wallet.getWalletId()}"
                                th:text="${wallet.getWalletId()}">
                            Wallet from
                        </option>
                    </select>
                    <br>

                    <select th:field="*{savingsRecordsDto.savingsTypeID}">
                        <option th:each="savingPlan: ${savingsFeatures}"
                                th:value="${savingPlan.getId()}"
                                th:text="${savingPlan.getName()}">
                            Savings Plan
                        </option>
                    </select>
                    <br>

                    <select th:field="*{savingsRecordsDto.currencyId}">
                        <option th:each="currency: ${currencies}"
                                th:value="${currency.getId()}"
                                th:text="${currency.getCurrencyName()} + ' (' + ${currency.getIso()} + ')'">
                            Currency
                        </option>
                    </select>
                    <br>

                    <input type="text" th:field="${savingsRecordsDto.baseAmount}" placeholder="Deposit Principal"/>
                    <label class="error" th:errors="*{savingsRecordsDto.baseAmount}">Base amount months error
                        placeholder</label>
                    <br>
                    <br/>
                    <input type="submit" value="Save"/>

                </div>
            </form>
        </div>
        <div class="col-md-6">
            <img style="width: 500px" src="/assets/images/wally3.jfif" alt="">
        </div>
    </div>
</div>
<br><br>
<div style="bottom: 0; position: fixed; width: 100%;">
    <div th:replace="fragments/footer :: footer"></div>
</div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>