<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Savings')"></head>
<body>
<!--header-->
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div th:if="${savingsRecords.isEmpty()}">
        <h2 th:text="#{savings.label.empty}">You don't have any savings plans yet.</h2>
    </div>
    <div th:unless="${savingsRecords.isEmpty()}">
        <h2 style="text-align: center;color: #00bc95" th:text="#{savings.label.exists}">Your current savings
            records.</h2>
        <table class="mb-0 table table-striped">
            <thead>
            <tr>
                <th th:text="#{savings.label.id}">Deposit ID</th>
                <th th:text="#{savings.label.name}">Name</th>
                <th th:text="#{savings.label.wallet-id}">Wallet ID</th>
                <th th:text="#{savings.label.principal}">Principal</th>
                <th th:text="#{savings.label.aer}">Aer</th>
                <th th:text="#{savings.label.duration}">Duration (months)</th>
                <th th:text="#{savings.label.start-date}">Start Date</th>
                <th th:text="#{savings.label.end-date}">End Date</th>
                <th th:text="#{savings.label.currency}">Currency</th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="record : ${savingsRecords}">
                <td>
                    <a th:href="@{/savings/{id}(id=${record.getId()})}" th:text="${record.getId()}"> Deposit Id</a>
                </td>
                <td th:text="${record.getSavingsFeature().getName()}">Name</td>
                <th th:text="${record.getWallet().getWalletId()}">Wallet ID</th>
                <td th:text="${record.getBaseAmount()}">Principal</td>
                <td th:text="${record.getAer()}">Aer</td>
                <td th:text="${record.getDurationMonths()}">Duration</td>
                <td th:text="${#dates.format(record.startDate, 'dd-MMM-yyyy')} ">Start Date</td>
                <td th:text="${#dates.format(record.endDate, 'dd-MMM-yyyy')}">End Date</td>
                <td th:text="${record.getCurrency().getCurrencyName()} +' ('+ ${record.getCurrency().getIso()} +')'">
                    Currency
                </td>
                <td>
                    <a th:href="@{/savings/{id}/update(id = ${record.getId()})}" href="#"
                       class="btn btn-success">Update wallet</a>
                </td>
                <td>
                    <a th:href="@{/savings/delete/{id}(id = ${record.getId()})}" href="#"
                       class="btn btn-danger">Withdraw funds now</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <hr class="trans--grow hr1">
    <li class="col-md-12" style="list-style-type: none; color: #1f7f5c; text-align: center; float: left"><h5><a
            href="#" th:href="@{/savings/new}" th:text="#{navigation.new-deposit}">Create a new deposit</a></h5></li>
    <br>
    <hr class="trans--grow hr2">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            setTimeout(function () {
                $('.trans--grow').addClass('grow');
            }, 275);
        });

    </script>

    <div class="container">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th th:text="#{savings.label.id}">ID</th>
                <th th:text="#{savings.label.name}">Name</th>
                <th th:text="#{savings.label.duration}">Duration</th>
                <th th:text="#{savings.label.aer}">AER</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="savings, iStat : ${savingsFeatures}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">

                <td th:text="${savings.getId()}">ID</td>
                <td th:text="${savings.getName()}">Name</td>
                <td th:text="${savings.getDuration()}">Duration</td>
                <td th:text="${savings.getAer()} + '%'">AER</td>
                <td th:if="${isAuthorized}">
                    <a href="#"
                       th:href="@{__${#httpServletRequest.requestURI}__/plans/{id}/update(id=${savings.getId()})}"
                       th:text="#{savings.label.update}">
                        Update </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h3 th:if="${isAuthorized}" style="text-align: center">
        <a href="#" th:href="@{/savings/plans/new}"
           th:text="#{navigation.add-savings}">Create New Savings Plan</a>
    </h3>
</div>


<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>