<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/modal.css" th:href="@{/css/modal.css}" rel="stylesheet"/>
    <link href="../static/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet"/>
</head>
<link href="../static/css/slider.css" rel="stylesheet"/>
</head>

<body>
<h2>Modal Example</h2>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>
</div>

<!-- Rounded switch -->
<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
</label>

<script type="text/javascript" src="../static/js/modal.js"></script>
</body>
</html>