<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head (title='Thank you!')"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<H2 th:text="#{error.not-found}"> Thank you for your message! We will come back to you as soon as possible. </H2>
<h3 th:text="#{error.not-found}" th:action="@{__${#httpServletRequest.requestURI}__}" method="get"> Back to home. </h3>
<h3 class="error" th:text="${error}">Error placeholder</h3>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>