<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Transaction Error')"></head>
<body>
<!--header-->
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/script :: script"></div>

<div class="container">
<H2 th:text="#{error.transaction-error}"> Transaction Error </H2>
<h3 class="error" th:text="${error}">Error placeholder</h3>
</div>
</body>
</html>

