<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head :: head (title='Transactions')"></head>
<body>
<!--header-->
<div th:replace="fragments/header :: header"></div>

<div th:fragment="transactions">

    <div th:if="${transactions.isEmpty()}">
        <h2 th:text="#{transactions.title.empty}">No transactions</h2>
    </div>


    <div th:unless="${transactions.isEmpty()}">
        <h2 th:text="#{transactions.title}">All transactions</h2>
        <br>

        <form method="post" th:action="@{/transactions}" th:object="${transactionFilterSortDto}">
            <div class="table">
                <br/>
                <h2 style="text-align: center;color: #e0a800">Filter Transaction Options</h2>

                <div class="col-md-6" style="float: left;text-align: center;">
                    <input class="transaction-date-from" onfocus="this.type='month';"
                           th:field="${transactionFilterSortDto.dateFrom}" placeholder="Date from"/>
                </div>
                <div class="col-md-6" style="float: right;text-align: center;">
                    <input class="transaction-date-to" onfocus="this.type='month';"
                           th:field="${transactionFilterSortDto.dateTo}" placeholder="Date to"/>
                </div>
                <br/>


                <select class="form-select col-4" th:field="*{senderUsername}">
                    <option selected value="-1" text="Select Sender Username">Sender Username</option>
                    <option th:each="user : ${users}"
                            th:value="${user.getUsername()}"
                            th:text="${user.username}">
                    </option>
                </select>

                <select class="form-select col-4" th:field="*{recipientUsername}">
                    <option selected value="-1" text="Select Recipient Username">Recipient User</option>
                    <option th:each="user : ${users}"
                            th:value="${user.getUsername()}"
                            th:text="${user.username}">
                    </option>
                </select>

                <select class="form-select col-4" th:field="*{isCredited}">
                    <option selected value="-1" text="Select credit/debit">Is credited</option>
                    <option th:value="1" th:text="#{isCredited-true}">true</option>
                    <option th:value="0" th:text="#{isCredited-false}">false</option>
                </select>


                <select class="form-select col-4" th:field="*{fromWalletId}">
                    <option selected th:value="null">From WalletId</option>
                    <option th:each="wallet : ${wallets}"
                            th:value="${wallet.getWalletId()}"
                            th:text="${wallet.getWalletId()}">
                    </option>
                </select>

                <select class="form-select col-4" th:field="*{toWalletId}">
                    <option selected th:value="null">To WalletId</option>
                    <option th:each="wallet : ${wallets}"
                            th:value="${wallet.getWalletId()}"
                            th:text="${wallet.getWalletId()}">
                    </option>
                </select>

                <select class="form-select col-4" th:field="*{status}">
                    <option selected th:value="null">Transaction Status</option>
                    <option th:each="status : ${statuses}"
                            th:value="${status.id}"
                            th:text="${status.name}">
                    </option>
                </select>

                <select class="form-select col-4" th:field="*{category}">
                    <option selected th:value="null">Transaction Category</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}">
                    </option>
                </select>

                <select class="form-select col-4" th:field="*{sort}">
                    <option selected th:value="null">Sort transactions</option>
                    <option th:each="sort : ${transactionSortOptions}"
                            th:value="${sort.getPreview()}"
                            th:text="${sort.getPreview()}">
                    </option>
                </select>
                <div class="container" style="margin-top: 2% ">
                    <button type="submit" class="btn btn-warning">Search</button>
                </div>

            </div>
        </form>
        <br>
        <hr class="trans--grow hr1">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>
            jQuery(document).ready(function ($) {
                setTimeout(function () {
                    $('.trans--grow').addClass('grow');
                }, 275);
            });

        </script>

        <div class="container">
            <table class="mb-0 table table-striped">
                <thead>
                <tr>
                    <th th:text="#{transaction.label.id}">ID</th>
                    <th th:text="#{transaction.label.sender-username}">Sender username</th>
                    <th th:text="#{transaction.label.from-wallet-id}">From Wallet Id</th>
                    <th th:text="#{transaction.label.recipient-username}">Recipient username</th>
                    <th th:text="#{transaction.label.to-wallet-id}">To Wallet Id</th>
                    <th th:text="#{transaction.label.transfer-value}">Value</th>
                    <th th:text="#{transaction.label.exchange-rate}">Exchange rate</th>
                    <th th:text="#{transaction.label.status}">Status</th>
                    <th th:text="#{transaction.label.category}">Category</th>
                    <th th:text="#{transaction.label.transaction-time}">Time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction, iStat : ${transactionPage.content}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">
                    <td th:text="${transaction.transactionId}">ID</td>
                    <td th:text="${transaction.fromUser.username}">Username</td>
                    <td th:text="${transaction.fromWallet.walletId}">From wallet ID</td>
                    <td th:text="${transaction.toWallet.owner.username}">Recipient username</td>
                    <td th:text="${transaction.toWallet.walletId}">To wallet ID</td>
                    <td th:text="${transaction.transferValue}">Value</td>
                    <td th:text="${transaction.exchangeRate}">Exchange rate</td>
                    <td th:text="${transaction.status.name}">Status</td>
                    <td th:text="${transaction.category.name}">Category</td>
                    <td th:text="${transaction.transactionTime}">Time</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<div class="center" style="margin-left: 38%; font-size: 1.5rem; ">
    <div style="float:left; display:inline; width: 6% "
         th:if="${transactionPage.totalPages > 1}"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{${#httpServletRequest.requestURI+transactionFilterSortDto.toQueryString()}(size=${transactionPage.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==transactionPage.number + 1} ? active"
           th:style="${pageNumber==transactionPage.number + 1} ? 'font-weight: bold;'"></a>
    </div>
</div>
<br><br><br>
<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<div th:replace="fragments/script :: script"></div>

</body>
</html>

