<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Users')"></head>
<body>


<!--header-->
<div th:replace="fragments/header :: header"></div>

<div th:if="${users.isEmpty()}">
    <h2 th:text="#{users.name.empty}">No users</h2>
</div>

<form style="position: center ;text-align: center;" method="post" th:action="@{/users}"
      th:object="${userFilterSearchSortDto}">

    <div class="table">
        <div>
            <h2 class="form-header" th:text="#{search}"></h2>
            <div class="form-select col-4">
                <input type="text" th:field="${userFilterSearchSortDto.all}" placeholder="Search all...">
            </div>
        </div>
        <br>
        <div>
            <h2 class="form-header" th:text="#{search.advanced}"></h2>
            <div>
                <input type="text" th:field="*{phone}" placeholder="Search by phone..">
            </div>
            <br>
            <div>
                <input type="text" th:field="*{username}" placeholder="Search by username..">
            </div>
            <br>
            <div th:field="*{email}">
                <input type="text" th:field="*{email}" placeholder="Search by email..">
            </div>
        </div>
        <br>
        <select class="form-select col-4" th:field="*{sort}">
            <option selected th:value="null">Sort users</option>
            <option th:each="sort : ${userSortOptions}"
                    th:value="${sort.getPreview()}"
                    th:text="${sort.getPreview()}">
            </option>
        </select>
        <br>
        <div>
            <button type="submit" class="btn btn-warning">Search</button>
        </div>
    </div>

</form>

<div th:unless="${users.isEmpty()}">
    <h2 style="text-align: center;color: #00bc95" th:text="#{users.name}">All users</h2>

    <div class="container">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th th:text="#{user.label.username}">Username</th>
                <th th:text="#{user.label.email}">Email</th>
                <th th:text="#{user.label.phone}">Last name</th>
                <th th:text="#{user.label.role}">Role</th>
                <th th:text="#{user.label.blocked}">Block</th>


            </tr>
            </thead>

            <tbody>

            <tr th:each="user, iStat : ${userPage.content}">

                <td th:text="${user.username}">Username</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.phone}">Street</td>
                <div th:each="role:${user.roleSet}">
                    <td th:text="${role.name}?:'N/A'">Role</td>
                </div>
                <td>
                    <a th:if="${user.isBlocked ==false}"
                       th:href="@{/users/block/{id}(id = ${user.getUserId()})}" href="#"
                       class="btn btn-success">Block</a>
                    <a th:if="${user.isBlocked()==true}"
                       th:href="@{/users/block/{id}(id = ${user.getUserId()})}" href="#"
                       class="btn btn-danger">Unblock</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="center" style="margin-left: 38%; font-size: 1.5rem; ">
    <div style="float:left; display:inline; width: 6% "
         th:if="${userPage.totalPages > 1}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a style="position: center; margin-left: auto;
    margin-right: auto"
           th:href="@{${#httpServletRequest.requestURI+userFilterSearchSortDto.toQueryString()}(size=${userPage.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==userPage.number + 1} ? active"
           th:style="${pageNumber==userPage.number + 1} ? 'font-weight: bold;'"></a>
    </div>
</div>
<br><br><br>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>

