<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Update User')"></head>
<body>
<!--header-->
<div th:replace="fragments/header :: header"></div>
<br><br><br><br><br><br>
<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" method="post" enctype="multipart/form-data">
    <div class="login">
        <h2>Update</h2>
        <span th:text="${session.currentUser}">Username</span>
        <img th:if="${session.photo != null}"
             th:src="@{'/user-photos/' + ${session.currentUserId} + '/' + ${session.photo}}" height="40" width="30">
        <br/>

        <input type="text" th:field="${user.email}" placeholder="email"/>
        <label class="error" th:errors="*{user.email}">Email error placeholder</label>
        <br/>

        <input type="text" th:field="${user.phone}" placeholder="phone"/>
        <label class="error" th:errors="*{user.phone}">Phone error placeholder</label>
        <br/>

        <input name="image" type="file" th:value="${photo}" accept="image/png, image/jpeg"/>

        <br/>
        <br/>
        <input type="submit" value="Save changes"/>
    </div>
</form>
<br><br><br><br><br><br>
<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<div th:replace="fragments/script :: script"></div>
</body>
</html>

