<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Verification Success')"></head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container text-center">
  <h3>Congratulations, your account has been verified.</h3>
  <h4><a th:href="@{/auth/login}">Click here to Login</a></h4>
</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>

</body>
</html>