<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Wallet Transactions')"></head>

<link href="../static/css/slider.css" th:href="@{css/slider.css}" rel="stylesheet"/>

<body>

<!--header-->
<div th:replace="fragments/header :: header"></div>

<li style="list-style-type: none"><a href="#" th:href="@{/wallets/transaction}"
                                     th:text="#{navigation.all-transactions}">Browse all
    transactions</a></li>

<div class="container row" >
    <div class="col-md-11" style="position: absolute;">
        <h2 style="text-align: center; color: #00bc95">New Transaction</h2>
        <form th:fragment="wallets-transaction-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
              method="post">

            <label th:text="#{transaction.label.from-wallet-id}">Sender Wallet</label>
            <br/>
            <select th:field="*{transaction.fromWalletId}">
                <option th:each="wallet: ${senderWallets}"
                        th:value="${wallet.getWalletId()}"
                        th:text="${wallet.getWalletId()}">
                    Sender Wallet
                </option>
            </select>
            <label class="error" th:errors="*{transaction.fromWalletId}">Wallet error placeholder</label>
            <br/><br/>

            <label th:text="#{transaction.label.to-wallet-id}">Recipient Wallet</label>
            <br/>
            <select th:field="*{transaction.toWalletId}">
                <option th:each="wallet: ${wallets}"
                        th:value="${wallet.getWalletId()}"
                        th:text="${wallet.getWalletId()}">
                    Recipient Wallet
                </option>
            </select>
            <label class="error" th:errors="*{transaction.toWalletId}">Wallet error placeholder</label>
            <br/><br/>

            <label th:text="#{transaction.label.category}">Category</label>
            <br/>
            <select th:field="*{transaction.categoryId}">
                <option th:each="category: ${categories}"
                        th:value="${category.getId()}"
                        th:text="${category.getName()}">
                    Categories
                </option>
            </select>
            <label class="error" th:errors="*{transaction.categoryId}">Category error placeholder</label>
            <br/><br/>


            <label th:text="#{transaction.label.transfer-value}">Transfer Amount</label>
            <br/>
            <input type="text" th:field="*{transaction.value}"/>
            <label class="error" th:errors="*{transaction.value}">Transfer value error placeholder</label>
            <br/><br/>

            <div class="box">
                <a class="button" href="#popup1">Make Payment</a>
            </div>
            <div id="popup1" class="overlay">
                <div class="popup">
                    <h2>Make transaction</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                        Are you sure you want to make transaction?
                        <input type="submit" value="Yes"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
<!--    <div class="col-md-6">-->
<!--        <img style="width: 300px;" src="/assets/images/wally3.jfif" alt="">-->
<!--    </div>-->

</div>

<div style="bottom: 0; position: fixed; width: 100%;">
    <div th:replace="fragments/footer :: footer" ></div>
</div>
<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<div th:replace="fragments/script :: script"></div>

</body>
</html>

