<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='New Wallet')"></head>
<body>
<!--header-->
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="container row">
        <div class="col-md-6">

            <h2 style="text-align: center; color: #00bc95">New Wallet</h2>
            <form class="container" th:fragment="wallet-form" action="#"
                  th:action="@{__${#httpServletRequest.requestURI}__}" method="post">
                <div class="login">

                    <label th:text="#{wallet.label.currency}">Wallet Currency</label>
                    <br/>
                    <select th:field="*{wallet.currencyId}">
                        <option selected value="0">All currencies</option>
                        <option th:each="currency: ${currencies}"
                                th:value="${currency.getId()}"
                                th:text="${currency.getCurrencyName()} + ' (' + ${currency.getIso()} + ')'">
                            Wallet Currency
                        </option>
                    </select>
                    <label class="error" th:errors="*{wallet.currencyId}">Currency error placeholder</label>
                    <br/><br/>

                    <input style="background: linear-gradient(90deg, rgba(35,210,255,1) 6%, rgba(243,255,24,1) 100%) ; border: 3px;"
                           type="submit" value="Save"/>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/assets/images/multipleWallets.jfif" alt="">
            <br><br><br><br><br><br>
        </div>
    </div>
</div>
<div style="bottom: 0; position: fixed; width: 100%;">
    <div th:replace="fragments/footer :: footer"></div>
</div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<div th:replace="fragments/script :: script"></div>

</body>
</html>
