<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Wallets')"></head>
<body>
<!--header-->
<div th:replace="fragments/header :: header"></div>

<li style="list-style-type: none"><a href="#" th:href="@{/wallets}" th:text="#{navigation.all-wallets}">Browse all
    wallets</a></li>

<div th:if="${walletsUser.isEmpty()}">
    <h2 th:text="#{wallets.name.empty}">No wallets</h2>
</div>

<div th:unless="${walletsUser.isEmpty()}">
    <h2 style="text-align: center;color: #00bc95" th:text="#{wallets.name}">All wallets</h2>

    <div class="container">
        <table class="mb-0 table table-striped">
            <thead>
            <tr>
                <th th:text="#{wallet.label.walletId}">WalletID</th>
                <th th:text="#{wallet.label.owner}">Owner</th>
                <th th:text="#{wallet.label.currency}">Currency</th>
                <th th:text="#{wallet.label.balance}">Balance</th>
                <th th:text="#{wallet.label.overdraft}">Overdraft</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="wallet : ${walletsUser}">
                <td>
                    <a th:href="@{/wallets/{id}(id=${wallet.getWalletId()})}" th:text="${wallet.walletId}"> Wallet
                        Id</a>
                </td>
                <td th:text="${wallet.owner.username}">Owner</td>
                <td th:text="${wallet.currency.currencyName}">Currency</td>
                <td th:text="${wallet.balance}">Balance</td>
                <td>
                    <a th:if="${wallet.isHasOverdraft()==false}"
                       th:href="@{/wallets/overdraft/{id}(id = ${wallet.getWalletId()})}" href="#"
                       class="btn btn-success">Enable</a>
                    <a th:if="${wallet.isHasOverdraft()==true}"
                       th:href="@{/wallets/overdraft/{id}(id = ${wallet.getWalletId()})}" href="#"
                       class="btn btn-danger">Disable</a>
                </td>
                <td>
                    <a th:href="@{/wallets/{id}/add-money(id=${wallet.getWalletId()})}"
                       th:text="#{wallet.label.top-up}">Top up</a>
                </td>
                <!--                <td>-->
                <!--                    <a th:href="@{/wallets/{id}/update(id=${wallet.getWalletId()})}" th:text="#{navigation.update}">Update</a>-->
                <!--                </td>-->
                <td>
                    <a th:href="@{/wallets/{id}/delete(id=${wallet.getWalletId()})}" th:text="#{navigation.delete}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="trans--grow hr1">
        <li class="col-md-6" style="list-style-type: none; color: #1f7f5c; text-align: center; float: left"><h5><a
                href="#" th:href="@{/wallets/new}" th:text="#{navigation.add-wallet}">Add new wallet</a></h5></li>
        <li class="col-md-6" style="list-style-type: none; color: #1f7f5c; text-align: center; float: right"><h5><a
                href="#" th:href="@{/wallets/transaction}" th:text="#{navigation.make-transaction}">Make a payment</a>
        </h5></li>
        <br>
        <hr class="trans--grow hr2">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>
            jQuery(document).ready(function ($) {
                setTimeout(function () {
                    $('.trans--grow').addClass('grow');
                }, 275);
            });

        </script>
        <section>
            <div class="container" style="margin-top: 0">
                <div class="row">
                    <div class="col-md-12">
                        <div id='tabs'>
                            <section class='tabs-content'>
                                <article id='tabs-1'>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img style=" border-radius: 12px;" src="/assets/images/transaction2.jfif"
                                                 alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <table class="table table-condensed" style="font-size: 10px;">
                                                <h3 th:text="#{wallet.label.transactions-last-month}"> Last Month's
                                                    Transaction</h3>

                                                <tbody>
                                                <!--                                                <thead>-->
                                                <!--                                                <tr>-->
                                                <!--                                                    <th th:text="#{wallet.label.transactions}">Transactions</th>-->
                                                <!--                                                    <th th:text="#{wallet.label.transactions.amount}">Amount</th>-->
                                                <!--                                                </tr>-->
                                                <!--                                                </thead>-->
                                                <td style="color:#e0a800; font-size: 15px"><b>In</b></td>

                                                <tbody th:each="map : ${lastMonthsTransactionsSummary}">

                                                <tr th:each="entry : ${map.getValue().entrySet()}">
                                                    <div th:if="${map.key=='In'}">
                                                        <td th:text="${entry.key}"></td>
                                                        <td th:text="${entry.value}"></td>
                                                    </div>

                                                </tr>
                                                </tbody>
                                                <td style="color:#e0a800; font-size: 15px"><b>Out</b></td>

                                                <tbody th:each="map : ${lastMonthsTransactionsSummary}">
                                                <tr th:each="entry : ${map.getValue().entrySet()}">
                                                    <div th:if="${map.key=='Out'}">
                                                        <td th:text="${entry.key}"></td>
                                                        <td th:text="${entry.value}"></td>
                                                    </div>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </article>

                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container" style="margin-top: 0">
                <div class="row">
                    <div class="col-md-12">
                        <div id='tabs'>
                            <section class='tabs-content'>
                                <article id='tabs-1'>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table table-condensed" style="font-size: 10px">
                                                <h3 th:text="#{wallet.label.total.balance}"> Total Balance</h3>
                                                <thead>
                                                <tr>
                                                    <th th:text="#{wallet.label.currency}">Currency</th>
                                                    <th th:text="#{wallet.label.balance}">Balance</th>
                                                </tr>
                                                </thead>

                                                <tbody>

                                                <tr th:each="balance : ${totalBalance}">
                                                    <td th:text="${balance.getKey()}">Currency</td>
                                                    <td th:text="${balance.getValue()}">Balance</td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="col-md-6">
                                            <img style=" border-radius: 12px;" src="/assets/images/transaction.jfif"
                                                 alt="">
                                        </div>
                                    </div>
                                </article>

                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="container">
        <table class="table table-condensed">
            <h3 th:text="#{wallet.label.transactions}"> Transactions</h3>
            <thead>
            <tr>
                <th th:text="#{transaction.label.id}">ID</th>
                <th th:text="#{transaction.label.sender-username}">Sender username</th>
                <th th:text="#{transaction.label.from-wallet-id}">From Wallet Id</th>
                <th th:text="#{transaction.label.recipient-username}">Recipient username</th>
                <th th:text="#{transaction.label.to-wallet-id}">To Wallet Id</th>
                <th th:text="#{transaction.label.transfer-value}">Value</th>
                <th th:text="#{transaction.label.exchange-rate}">Exchange rate</th>
                <th th:text="#{transaction.label.status}">Status</th>
                <th th:text="#{transaction.label.category}">Category</th>
                <th th:text="#{transaction.label.transaction-time}">Time</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="transaction, iStat : ${paginatedTransactions.content}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">

                <td th:text="${transaction.transactionId}">ID</td>
                <td th:text="${transaction.fromUser.username}">Username</td>
                <td th:text="${transaction.fromWallet.walletId}">From wallet ID</td>
                <td th:text="${transaction.toWallet.owner.username}">Recipient username</td>
                <td th:text="${transaction.toWallet.walletId}">To wallet ID</td>
                <td th:text="${transaction.transferValue}">Value</td>
                <td th:text="${transaction.exchangeRate}">Exchange rate</td>
                <td th:text="${transaction.status.name}">Status</td>
                <td th:text="${transaction.category.name}">Category</td>
                <td th:text="${transaction.transactionTime}">Time</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="center" style="margin-left: 38%; font-size: 1.5rem; ">
    <div style="float:left; display:inline; width: 6% "
         th:if="${paginatedTransactions.totalPages > 1}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{${#httpServletRequest.requestURI}(size=${paginatedTransactions.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==paginatedTransactions.number + 1} ? active"
           th:style="${pageNumber==paginatedTransactions.number + 1} ? 'font-weight: bold;'"></a>
    </div>
</div>
<br><br><br>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>

</body>
</html>

