<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Wally Home')"></head>
<body>
<!--header-->
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th th:text="#{wallet.label.walletId}">WalletID</th>
            <th th:text="#{wallet.label.owner}">Owner</th>
            <th th:text="#{wallet.label.currency}">Currency</th>
            <th th:text="#{wallet.label.balance}">Balance</th>
            <th th:text="#{wallet.label.overdraft}">Overdraft</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="wallet : ${walletsAll}">
            <td>
                <a th:href="@{/wallets/{id}(id=${wallet.getWalletId()})}" th:text="${wallet.walletId}"> Wallet
                    Id</a>
            </td>
            <td th:text="${wallet.owner.username}">Owner</td>
            <td th:text="${wallet.currency.currencyName}">Currency</td>
            <td th:text="${wallet.balance}">Balance</td>
            <td th:text="${wallet.hasOverdraftEnabled}">Overdraft</td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<div class="center" style="margin-left: 38%; font-size: 1.5rem; ">
    <div style="float:left; display:inline; width: 6% "
         th:if="${walletsAll.totalPages > 1}"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{${#httpServletRequest.requestURI}(size=${walletsAll.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==walletsAll.number + 1} ? active"
           th:style="${pageNumber==walletsAll.number + 1} ? 'font-weight: bold;'"></a>
    </div>
</div>
<br><br><br>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>

