<!DOCTYPE html>
<head th:replace="fragments/head :: head (title='Wallets')"></head>
<body>
<!--header-->
<div th:replace="fragments/header :: header"></div>

<div class="container row">
    <div class="col-md-6">
        <h2 style="text-align: center; color: #00bc95">Edit Wallet</h2>
        <form th:replace="wallets-new.html :: wallet-form"></form>
    </div>
    <div class="col-md-6">
        <img src="/assets/images/multipleWallets.jfif" alt="">
    </div>

    <li style="list-style-type: none"><a href="#" th:href="@{/wallets}" th:text="#{navigation.all-wallets}">Browse all
        wallets</a></li>
</div>
<br><br><br><br><br><br>
<div th:replace="fragments/footer :: footer"></div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<div th:replace="fragments/script :: script"></div>

</body>
</html>
